body{
    font-family: 'gidoleregular';

}

footer {
    background-color: #333;
    color: #ddd;
    padding: 20px;
    text-align: center;
}


.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.my-navbar{
    background-color: #72C0C7;
    padding: 15px 25px;
}

.my-section{
    min-height: 900px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}


.navbar-brand{
    padding-left: 30px
}

.nav-iteml{
    float: left;
}

.fill-screen{
    /*background-image: url('../img/tlo.jpg');*/
    background-size: cover;
    background-position: center;
    filter: brightness(20%);
}



a.tilelink
{
    text-underline: none;
}

a.tilelink:hover
{
    color: #ffffff;
}

.tile1
{
    border-radius: 50%;
    margin-left: 35%;
    margin-top: 5%;
    height: 200px;
    width: 200px;
    background-color: #72C0C7;
    color: white;
    float: left;
    text-align: center;
 }

.tile2
{
    border-radius: 50%;
    margin-right: 35%;
    margin-top: 5%;
    height: 200px;
    width: 200px;
    background-color: #72C0C7;
    color: white;
    float: right;
    text-align: center;
 }

.tile1:hover, .tile2:hover
{
     background-color: #18BB9C;
}

.tilecontainer
{
    position: absolute;
    top: 25%;
    margin-top: 95px;
    left: 0;
    width: 100%;
}

.test
{
    color: white;
}

.helloworld {
    background-image: url('../img/informacjewiekszydark.jpg');
    background-size: cover;
    background-position: center;
}

.helloworld2 {
    height: 100vh;
    color: white;
    width: 100%;
    background-image: url('../img/tlo.jpg');
    background-size: cover;
    background-position: center;

}

.indexarrow{
   text-align: center;
    position: absolute;
    bottom: 10%; left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color: #98dafc;

}

.indexarrow:hover{
    color: #87caeb;
}

.Logo
{
    filter: opacity(100%);
}

.mojatabela{
    margin: auto;
    width: 70% !important;
}

.rowlekarz1
{
    margin: auto;
    padding-top: 30px;
    width: 80% !important;
    min-height: 300px;
}

.rowlekarz2{
    margin: auto;
    padding-top: 30px;
    width: 80% !important;
}

.lekarz > span{
    vertical-align: top;
}



.profillekarzatile1{
    text-align: center;
}


.profillekarzapicture{
    border-style: solid;
    border-color: white;
    border-width: 15px;
    position: relative;
    transform: translate(0, -85%);
    -webkit-transform: translate(0, -85%);
}


.profillekarzapicturesredni{
    border-style: solid;
    border-color: white;
    border-width: 3px;
    position: relative;
    transform: translate(0, -100%);
    -webkit-transform: translate(0, -100%);
}


.profillekarzaimienazwisko{
    position: relative;
    top: 150px;
}

.paneluzytkownikaimienazwisko{
    position: relative;
    top: 80px;
}

.lekarztlo{
    /*background-image: url('../img/stetoskop.jpeg');*/
    /*background-size: cover;*/
    /*background-position: center;*/
}

.lekarztlocontent{
    background-color:rgba(93,188,210,0.9);
    width:100%;
    height:100%;
}

.informacjecontainer{
    margin: auto;
    padding-top: 30px;
    width: 60% !important;
}

.sidebar{
    text-align: left;
    padding: 10px 0;
}

.sidebar > li > a{
    color: white;

}

.sidebar > li > a:hover{
    color: #aac4d7;
}

.sidebar > li{
    padding-left: 28%;
}

.mojsidebar{
    background:
    linear-gradient(
      rgba(57, 76, 111, 0.45),
      rgba(34, 148, 172, 0.8)
    ),
    url('../img/testtlo.png');
    text-align: center;
    color: white;
}


#myInput {
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

/*div.helloworld::before{*/
    /*content: '';*/
    /*position: absolute;*/
    /*background-image: url('../img/informacjewiekszydark.jpg');*/
    /*background-size: cover;*/

    /*left:0; top:0; bottom: 0; right: 0;*/
    /*z-index: -1;*/
/*}*/


@media only screen and (min-width: 850px) and (max-width: 1500px){

    .tile1{
        margin-left: 26%;
    }
    .tile2{
        margin-right: 26%;
    }
}

@media only screen and (max-width: 850px){

    .tile1{
        margin: auto;
        margin-top: 30px;
        float: none;
    }

    .tile2{
        margin: auto;
        margin-top: 30px;
        float: none;
    }

    .mojsidebar{
    background:
    linear-gradient(
      rgba(57, 76, 111, 0.45),
      rgba(34, 148, 172, 0.8)
    ),
    url('../img/dotestu.png');
    text-align: center;
    color: white;
}


}

@font-face {
    font-family: 'gidoleregular';
    src:url("../fonts/Gidole-Regular.otf"), url('../fonts/Gidole-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


.col-md-3half, .col-md-8half {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media only screen and (min-width: 768px) {
    .col-md-3half, .col-md-8half {
        float: left;
    }
    .col-md-3half {
        width: 29.16666667% !important;
    }
    .col-md-8half {
        width: 70.83333333% !important;
    }
}