<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat|Nunito|Roboto|Rubik|Ubuntu" rel="stylesheet">

</head>
<body>

    <header class="container-fluid">
        <nav class="row navbar navbar-expand-lg navbar-dark my-navbar">

            <a class="navbar-brand" href="{{ url_for('index') }}"> <i class="fas fa-plus-circle"></i>  Portal E-lekarz</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" style="padding-left: 30px">

                <li class="nav-item active">

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}" >   <i class="fas fa-home test" ></i> Strona główna</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('listalekarzy') }}" >   <i class="fas fa-users"></i> Lista lekarzy</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('informacje') }}" >   <i class="far fa-question-circle test"></i> Jak to działa?</a>
                </li>


            </ul>



              <ul class="navbar-nav ml-auto" style="padding-right: 30px">
                    {% if session.logged_inP %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('pacjent') }}"> <i class="fas fa-user"></i> {{session.login}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('wylogujP') }}"> <i class="fas fa-sign-out-alt"></i> Wyloguj sie</a>
                        </li>
                    {% elif session.logged_inL %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('lekarz') }}"> <i class="fas fa-user-md"></i> {{session.login}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('wylogujL') }}"> <i class="fas fa-sign-out-alt"></i> Wyloguj sie</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('zalogujsie') }}"> <i class="fas fa-sign-in-alt"></i> Zaloguj sie</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('zalozkonto') }}"><i class="fas fa-user-plus"></i> Rejestracja</a>
                        </li>
                    {% endif %}
                    </ul>

              </ul>

          </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row no-gutter" style="">


            <section class="col-md-12 my-section no-gutter">
                {% block content %}
                {% endblock %}
            </section>



        </div>
    </div>




    <footer class="container-fluid">
        <div class="col-12 " >
            <i class="far fa-envelope test"></i>  Kontakt <br> tomasz.duda.1996@gmail.com <br> tomekjurczynski@gmail.com
        </div>
    </footer>


    <script src="../static/js/jquery.easing.1.3.js"></script>
    <script>
        $(function(){
            $(window).on("load resize", function(){
                $(".helloworld").css("height", window.innerHeight);
            });

            $("body").scrollspy({
                target: '.navbar',
                offset: 160
            });

            $(".helloworld a").bind("click", function () {
                $("html, body").stop().animate({
                    scrollTop: $($(this).attr("href")).offset.top - 100
                    }, 1500, "easeInOutExpo");
                    event.preventDefault();
            });

        });
    </script>


</body>
</html>

