{% extends "lekarz.html" %}


{% block title %}
Portal E-lekarz
{% endblock %}

{% block content %}
    {{super()}}

{% endblock %}

{% block profile %}



{% from "includes/_formhelpers.html" import render_field %}
<div class="content-section">
    <form method="POST" action="">
        <fieldset style= "margin: 2% 25% 2% 25%">
            <legend class="border-bottom">Rozpocznij konsultacje</legend>
            <div class="row">
                <div class="col-md-6">
                    Nadawca: {{session.imie + " " + session.nazwisko }}
                </div>
                <div class="col-md-6">
                    Odbiorca: {{ danelekarza.imie + " " + danelekarza.nazwisko }}
                </div>
            </div><br>
            <div class="form-group">
                    {{ form.typ_konsultacji.label(class="form-control-label") }}
                    {% if form.typ_konsultacji.errors %}
                        {{ form.typ_konsultacji(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.typ_konsultacji.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    <select class="form-control form-control-sm" id="optCity" name="typ_konsultacji" required>
                        <option value="9">Lekarz</option>
                        <option value="1">Pacjent</option>
                    </select>
                    {% endif %}
            </div>
            <div class="form-group">
                    {{ form.temat.label(class="form-control-label") }}
                    {% if form.temat.errors %}
                        {{ form.temat(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.temat.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.temat(class="form-control", rows="2") }}
                    {% endif %}
            </div>
        <p><input type="submit" href="" class="btn btn-primary" value="Rozpocznij konsultację" ></p>

        <br>


        </fieldset>
    </form>
</div>





{% endblock %}

{% block sidebar %}
{% endblock %}


