{% extends "base.html" %}

{% block title %}
Portal E-lekarz
{% endblock %}

{% block content %}




<br>
<div class="table-responsive mojatabela">
    <h1> Lista lekarzy</h1>
    <input type="text" id="myInput" placeholder=" &#xF002; Wyszukaj" style="font-family:Arial, FontAwesome; width: 100%">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Zdjęcie</th>
                <th scope="col">Imię i nazwisko</th>
                <th scope="col">Numer Telefonu</th>
                <th scope="col">Specjalizacja</th>
                <th scope="col"></th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody id="myTable">
            {% for i in danekontaktowe %}
                <tr>
                    <td><img src="../static/img/lekarz.jpg" style=""></td>
                    <td>{{i.imie}} {{i.nazwisko}}</td>
                    <td>{{i.nr_telefonu}}</td>
                    <td>{{i.specjalizacja}}</td>
                    <td style="text-align: center"> <a class="btn btn-info" href="{{ url_for('profillekarza', userid=i.id) }}" >Zobacz profil</a></td>
                    {% if session.logged_inP or session.logged_inL %}
                    <td style="text-align: center"> <a class="btn btn-success"  href="{{ url_for('konsultacja', userid=i.id, pacjent=session.id)}}" >Rozpocznij konsultacje</a> </td>
                    {% else %}
                    <td style="text-align: center"> <a class="btn btn-warning"  onclick="myFunction()" href="{{ url_for('zalogujsie') }}">Zaloguj się aby rozpocząć konsultację</a> </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});



</script>

{% endblock %}

{% block sidebar %}
{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

