{% extends "base.html" %}

{% block title %}
Portal E-lekarz
{% endblock %}

{% block content %}

<h1> Odczytaj wiadomość </h1>

<hr>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Nadawca</th>
        <th>Zawartość</th>
        <th>Data</th>
    </tr>
    {% for zawartosc in wiadomosci %}
        <tr>
            <td>{{zawartosc.id}}</td>
            <td>{{zawartosc.nadawca}}</td>
            <td>{{zawartosc.zawartosc}}</td>
            <td>{{zawartosc.create_date}}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}

{% block sidebar %}
{% endblock %}