{% extends "base.html" %}

{% block title %}
Portal E-lekarz
{% endblock %}

{% block content %}
{% include 'includes/_messages.html' %}
{% from "includes/_formhelpers.html" import render_field %}

    <br>
<div class="table-responsive mojatabela">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nadawca</th>
                <th scope="col">Wysłana wiadomość</th>
                <th scope="col">Data</th>
            </tr>
        </thead>
        <tbody id="myTable">
            {% for i in wiadomosci %}
                <tr>
                    <td>{{i.nadawca}}</td>
                    <td>{{i.zawartosc}}</td>
                    <td>{{i.data}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="content-section">
    <form method="POST" action="">
        <fieldset style= "margin: 2% 25% 2% 25%">
            <legend class="border-bottom">Wiadomości</legend>
            <div class="form-group">
                    {{ form.zawartosc.label(class="form-control-label") }}
                    {% if form.zawartosc.errors %}
                        {{ form.zawartosc(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.zawartosc.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.zawartosc(class="form-control form-control-lg") }}
                    {% endif %}
            </div>
        <p><input type="submit" class="btn btn-primary" value="Wyślij wiadomość"></p>
        </fieldset>
    </form>
</div>


{% endblock %}

{% block sidebar %}
{% endblock %}