<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css">

</head>
<body>

    <header class="container-fluid">
        <nav class="row navbar navbar-expand-lg navbar-dark my-navbar">

            <a class="navbar-brand" href="{{ url_for('index') }}"> <i class="fas fa-plus-circle"></i>  Portal E-lekarz</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" style="padding-left: 30px">
                <li class="nav-item active">

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}" >   <i class="fas fa-flag fa-home test" ></i> Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}" >   <i class="fas fa-list-alt test "></i> Lista lekarzy</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}" >   <i class="far fa-question-circle test"></i> Jak to działa?</a>
                </li>


            </ul>


              <!--<ul class="navbar-nav ml-auto" style="padding-right: 30px">-->

                <!--<li class="nav-item ">-->
                    <!--<a class="nav-link" href="{{ url_for('wyloguj') }}">Wyloguj sie</a>-->
                <!--</li>-->

                  <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="{{ url_for('zalogujsie') }}">Zaloguj sie</a>-->
                <!--</li>-->

                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="{{ url_for('zalozkonto') }}">Rejestracja</a>-->
                <!--</li>-->

              <ul class="navbar-nav ml-auto" style="padding-right: 30px">
                    {% if session.logged_inP %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('pacjent') }}">{{session.login}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('wylogujP') }}">Wyloguj sie</a>
                        </li>
                    {% elif session.logged_inL %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('lekarz') }}">{{session.login}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('wylogujL') }}">Wyloguj sie</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('zalogujsie') }}">Zaloguj sie</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('zalozkonto') }}">Rejestracja</a>
                        </li>
                    {% endif %}
                    </ul>

              </ul>

          </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row no-gutter" style="">


            <section class="col-sm-12 my-section">
                {% block content %}
                {% endblock %}
            </section>



        </div>
    </div>




    <footer class="container-fluid">
        <div class="col-12 " >
            <i class="far fa-envelope test"></i>  Kontakt <br> tomasz.duda.1996@gmail.com <br> tomekjurczynski@gmail.com
        </div>
    </footer>

    <script>
        $(function(){
            $(window).on("load resize", function(){
                $(".helloworld").css("height", window.innerHeight);
            });
        });
    </script>

</body>
</html>


