{% extends "base.html" %}

{% block title %}
Portal E-lekarz
{% endblock %}

{% block content %}

<h1> Lista lekarzy</h1>

<hr>

<div class="col-md-12 mojatabela">
    {% for i in danekontaktowe %}
        <div class="lekarz">
            <img src="../static/img/lekarz.jpg"> <span>{{i.imie}} {{i.nazwisko}}</span>
        </div>
    {% endfor %}
</div>
<!--<a class="btn btn-success" href="/wyslijwiadomosc"> Wyślij wiadomość</a>-->

<!--<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">-->


<!--<table id="myTable">-->
  <!--<tr class="header">-->
    <!--<th style="width:60%;">Name</th>-->
    <!--<th style="width:40%;">Country</th>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>Alfreds Futterkiste</td>-->
    <!--<td>Germany</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>Berglunds snabbkop</td>-->
    <!--<td>Sweden</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>Island Trading</td>-->
    <!--<td>UK</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>Koniglich Essen</td>-->
    <!--<td>Germany</td>-->
  <!--</tr>-->
<!--</table>-->

<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

{% endblock %}

{% block sidebar %}
{% endblock %}

