{% extends "lekarz.html" %}

{% block title %}
Portal E-lekarz
{% endblock %}

{% block content %}
    {{super()}}
    {#    <a class="btn btn-success" href="/wyslijwiadomosc"> Wyślij wiadomość</a>#}

{% endblock %}

{% block profile %}

    <div class="table-responsive mojatabela">
        <h1 style="text-align: center"> Twoje Porady </h1>
        <hr>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Lekarz</th>
                    <th>Temat</th>
                    <th>Wróć do rozmowy</th>
                </tr>
            </thead>
            {% for j in poradalekarza %}
                <tr>
                    <td>{{j.LekarzID}}</td>
                    <td>{{j.temat}}</td>
                    {% if session.id != j.LekarzID %}
                        <td style="text-align: center"> <a class="btn btn-info" href="{{ url_for('rozmowa', nadawcaid=session.id, odbiorcaid=j.LekarzID, porada=j.typ_konsultacji, idkonsultacji = j.id)}}" >Kontynuuj rozmowę</a> </td>
                    {% elif session.id == j.LekarzID %}
                        <td style="text-align: center"> <a class="btn btn-info" href="{{ url_for('rozmowa', nadawcaid=session.id, odbiorcaid=j.PacjentID, porada=j.typ_konsultacji, idkonsultacji = j.id)}}" >Kontynuuj rozmowę</a> </td>
                    {% else %}
                        <td style="text-align: center"> <a class="btn btn-info" href="{{ url_for('zalogujsie')}}" >Załóż konto</a> </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
</div>

{% endblock %}

{% block sidebar %}
{% endblock %}