{% extends "lekarz.html" %}

{% block title %}
Portal E-lekarz
{% endblock %}

{% block content %}
    {{super()}}
    {#    <a class="btn btn-success" href="/wyslijwiadomosc"> Wyślij wiadomość</a>#}

{% endblock %}

{% block profile %}
<div class="table-responsive mojatabela">
        <h1 style="text-align: center"> Twoje konsultacje </h1>
        <hr>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    {% if session['logged_inL'] %}
                    <th>Pacjent</th>
                    {% else %}
                    <th>Lekarz</th>
                    {% endif %}
                    <th>Temat</th>
                    <th style="text-align: center">Wróć do rozmowy</th>
                </tr>
            </thead>
            {% for i in konsultacje %}
                <tr>
                    <td>{{i.imie}} {{i.nazwisko}}</td>
                    <td>{{i.temat}}</td>
                    <td style="text-align: center"> <a class="btn btn-info" href="{{ url_for('rozmowa', nadawcaid=i.PacjentID, odbiorcaid=i.LekarzID, konsultacja=i.typ_konsultacji, idkonsultacji = i.id)}}" >Kontynuuj rozmowę</a> </td>
                </tr>
            {% endfor %}
        </table>
</div>

{% endblock %}

{% block sidebar %}
{% endblock %}
