{% extends "lekarz.html" %}

{% block title %}
Portal E-lekarz
{% endblock %}

{% block content %}
    {{super()}}

{% endblock %}

{% block profile %}


{% include 'includes/_messages.html' %}

{% from "includes/_formhelpers.html" import render_field %}
<div class="content-section">
    <form method="POST" action="">
        <fieldset style= "margin: 2% 25% 2% 25%" >
            <legend class="border-bottom mb-4">Twoje ustawienia</legend>


            <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
            </div>
            <div class="form-group">
                    {{ form.nrtelefonu.label(class="form-control-label") }}
                    {% if form.nrtelefonu.errors %}
                        {{ form.nrtelefonu(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.nrtelefonu.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.nrtelefonu(class="form-control form-control-lg") }}
                    {% endif %}
            </div>
            <div class="form-group">
                    {{ form.haslo.label(class="form-control-label") }}
                    {% if form.haslo.errors %}
                        {{ form.haslo(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.haslo.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.haslo(class="form-control form-control-lg", value="1234512511") }}
                    {% endif %}
            </div>
            <div class="form-group">
                    {{ form.potwierdz.label(class="form-control-label") }}
                    {% if form.potwierdz.errors %}
                        {{ form.potwierdz(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.potwierdz.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.potwierdz(class="form-control form-control-lg", value="cos") }}
                    {% endif %}
            </div>
        <p><input type="submit" class="btn btn-primary" value="Potwierdź zmiany"></p>
        </fieldset>
    </form>
</div>

{% endblock %}

{% block sidebar %}
{% endblock %}