{% extends "base.html" %}

{% block title %}
Portal E-lekarz
{% endblock %}

{% block content %}

<h1> Lista dostępnych lekarzy</h1>

<hr>

<div class="table-responsive mojatabela">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Zdjęcie</th>
                <th scope="col"> ID</th>
                <th scope="col">Imię</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">E-mail</th>
                <th scope="col">Numer Telefonu</th>
                <th scope="col">Specjalizacja</th>
                <th scope="col"></th>
            </tr>
        </thead>
        {% for i in danekontaktowe %}
        <tbody>
            <tr>
                <td><img src="../static/img/lekarz.jpg" ></td>
                <td>{{i.id}}</td>
                <td>{{i.imie}}</td>
                <td>{{i.nazwisko}}</td>
                <td>{{i.email}}</td>
                <td>{{i.nr_telefonu}}</td>
                <td>{{i.specjalizacja}}</td>
                <!--<td><a class="btn btn-success" href="/wyslijwiadomosc">Rozpocznij konwersacje</a></td>-->
                <!--<td><button onclick="myFunction()">Click me</button></td>-->
                <td style="text-align: center;"><a class="btn btn-primary" onclick="myFunction()" href="/konsultacja?{{i.imie}}&{{i.nazwisko}}">Rozpocznij konsultacje</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>