{% extends "base.html" %}

{% block title %}
Portal E-lekarz
{% endblock %}

{% block content %}
{% include 'includes/_messages.html' %}

<h1 style="padding: 40px 0 10px 25%"> Zaloguj się </h1>

<form action="" method="POST">
       <fieldset style= "margin: 2% 25% 2% 25%">
            <div class="form-group">
                <label> Login </label>
                <input type="text" name="login" class="form-control" value={{request.form.login}}>
            </div>


            <div class="form-group">
                <label> Hasło </label>
                <input type="password" name="haslo" class="form-control" value={{request.form.haslo}}>
            </div>

         <button type="submit" class="btn btn-primary">Zaloguj</button>
       </fieldset>
</form>


{% endblock %}

{% block sidebar %}
{% endblock %}