{% extends "base.html" %}

{% block title %}
Załóż konto
{% endblock %}

{% block content %}

<h1 style="text-align: center; margin-top: 5%"> Załóż konto</h1>

    <div class="row">
        <div class="col-md-12">
           <a href="{{ url_for('zalozkontoL') }}" class="tilelink">
                <div class="tile1">
                    <i class="fas fa-user-md fa-7x" style="margin-top: 30px; color: white;" ></i><br/>
                    Lekarz
                </div>
            </a>



            <a href="{{ url_for('zalozkontoP') }}" class="tilelink">
                <div class="tile2">
                    <i class="fas fa-user fa-7x" style="margin-top: 30px; color: white"></i> <br/>
                    Pacjent
                </div>
            </a>
        </div>
    </div>


{% endblock %}

